/* 🔥 지도 컨테이너 */
.mapContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 🔥 지도 이미지 */
.mapImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-drag: none;
}
